.datos-reserva label[for="n-personas"] {
    width: 120px;
}

.reservations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.reservation {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation__id,
.reservation__name,
.reservation__room-type,
.reservation__arrival-date,
.reservation__departure-date,
.reservation__status {
    margin-bottom: 10px;
}

.reservation__arrival-date,
.reservation__departure-date {
    margin-left: 20px;
}

.reservation__status {
    font-weight: bold;
}

.confirmed {
    color: green;
}

.pending {
    color: orange;
}

.cancelled {
    color: red;
}

select {
    position: static;
}

@media screen and (max-width: 600px) {
    .reservation__room-type {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .reservation__departure-date {
        display: none;
    }
}